<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/sidebar', { status: status}) %>
    <main id="birds">
        <form action="/birds/edit" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="bird_id" value="<%= bird.bird_id %>">
            <fieldset>
                <legend>Common Names</legend>
                <label for="primary_name">Primary Name</label>
                <input type="text" name="primary_name" value="<%= bird.primary_name %>" required>
                <label for="english_name">English Name</label>
                <input type="text" name="english_name" value="<%= bird.english_name %>" required>
            </fieldset>
            <fieldset>
                <legend>Taxonomy</legend>
                <label for="scientific_name">Scientific Name</label>
                <input type="text" name="scientific_name" value="<%= bird.scientific_name %>" required>
                <label for="family">Family</label>
                <input type="text" name="family" value="<%= bird.family %>" required>
                <label for="order">Order</label>
                <input type="text" name="order_name" value="<%= bird.order_name %>" required>
            </fieldset>
            <fieldset>
                <legend>Size</legend>
                <label for="length">Length (cm)</label>
                <input type="number" name="length" value="<%= bird.length %>" required>
                <label for="weight">Weight (g)</label>
                <input type="number" name="weight" value="<%= bird.weight %>" required>
            </fieldset>
            <fieldset>
                <legend>Conservation Status</legend>
                <label for="status">Status</label>
                <select name="status" id="status">  
                    <option value="1" <%= bird.status_id === 1 ? 'selected' : '' %>>Not Threatened</option>
                    <option value="2" <%= bird.status_id === 2 ? 'selected' : '' %>>Naturally Uncommon</option>
                    <option value="3" <%= bird.status_id === 3 ? 'selected' : '' %>>Relict</option>
                    <option value="4" <%= bird.status_id === 4 ? 'selected' : '' %>>Recovering</option>
                    <option value="5" <%= bird.status_id === 5 ? 'selected' : '' %>>Declining</option>
                    <option value="6" <%= bird.status_id === 6 ? 'selected' : '' %>>Nationally Increasing</option>
                    <option value="7" <%= bird.status_id === 7 ? 'selected' : '' %>>Nationally Vulnerable</option>
                    <option value="8" <%= bird.status_id === 8 ? 'selected' : '' %>>Nationally Endangered</option>
                    <option value="9" <%= bird.status_id === 9 ? 'selected' : '' %>>Nationally Critical</option>
                    <option value="10" <%= bird.status_id === 10 ? 'selected' : '' %>>Extinct</option>
                    <option value="11" <%= bird.status_id === 11 ? 'selected' : '' %>>Data Deficient</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Photo</legend>
                <label for="photograph">Photo Credit</label>
                <input type="text" name="photograph" value="<%= bird.photographer %>">
                <label for="photo_file">Photo Upload</label>
                <input type="file" name="photo_file" id="photo_file" value="<%= bird.filename %>">
            </fieldset>
            <button class="button" type="submit">Save Bird</button>
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>